<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
      </div>
    </div>
    <div class="col-xl-6">
 
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item"> BP 129, Technoparc El ghazela Bâtiment I3 1ère étage 2088 Ariana </li>
      </ul>

      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item"> +216 36 365 558 | Fax : +216 70 201 269 </li>
      </ul>

      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item"> contact@tac-tic.net </li>
      </ul>
      
    </div>
  </div>
</footer>
