<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8" style="min-height: 600px; background-image: url(assets/img/brand/); background-size: cover; background-position: center top;">
    <div class="container-fluid">
      <div class="header-body">
            <h1 class="row justify-content-center">Gestion </h1>
            
            <!-- Card stats -->
            <div class="row justify-content-center">

                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
          
                            <li class="nav-item">
                              <a  routerLinkActive="active" [routerLink]="['/employee']">
                               <!--<i class="ni ni-single-02"></i>--> 
                                <span class="nav-link-inner--text">Gestion des employés</span>
                              </a>
                            </li>
          
                          </div>
                        </div>
                      </div>
                    </div>
                </div>     

                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
          
                            <li class="nav-item">
                              <a  routerLinkActive="active" [routerLink]="['/department']">
                               <!--<i class="ni ni-single-02"></i>--> 
                                <span class="nav-link-inner--text">Gestion des Departement</span>
                              </a>
                            </li>
          
                          </div>
                        </div>
                      </div>
                    </div>
                </div>     
          </div>

        </div>

    </div>

</div>
   
  